/*
// - - - - - - - - - - - - - - - - - - -
// SOLUCOES INDUSTRIAIS - THEME v001
// - - - - - - - - - - - - - - - - - - -
// #wf-202312151332
// #wf-202401061318
// - - - - - - - - - - - - - - - - - - -
// https://wizrdfly.rf.gd
// - - - - - - - - - - - - - - - - - - -
*/
/* -- reset -- */
html, body, section, header, footer, div, ul, li, a, img, p, span, strong, b, em, h1, h2, h3, h4, h5, h6, hr {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

/* -- config -- */
body {
    background: #F2F3FB;
}

.container-xxl {
    width: 95%;
}

a {
    position: relative;
}

.btn-success {
    color: #F9FAFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 800 !important;
    line-height: 12px;
    padding: 10px 30px;
    border-radius: 4px;
    background: #3EBD5D;
    border: 1px solid #3EBD5D !important;
    transition: font-weight 0.4s, color 0.4s, background 0.4s !important;
    box-shadow: unset !important;
    display: inline-block;
    width: auto;
}

.btn-success:hover, .btn-success:focus {
    background: #2fab4d;
    border: 1px solid #2fab4d !important;
}

.section.header .banner form label .btn-success {
    line-height: 18px;
}

.btn-success.blue {
    color: #F9FAFF;
    background: #012F73;
    border: 1px solid #012F73!important;
}

.btn-success.blue:hover, .btn-success.blue:focus {
    background: #012150;
    border: 1px solid #012150 !important;
}

.header a:before {
    content: '';
    width: 0;
    height: 1px;
    background: #FFFFFF;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: width 0.4s;
}

.header a:hover:before, .header a:focus:before {
    width: 100%;
}

.btn-success:before {
    display: none;
}

.btn.btn-fill {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px 20px;
    border-radius: 4px;
    background: none;
    transition: color 0.4s, background 0.4s !important;
    opacity: unset !important;
}

.btn.btn-fill {
    color: #3EBD5D;
    border: 1.5px solid #3EBD5D !important;
}

.btn.btn-fill:hover, .btn.btn-fill:focus {
    color: #FFFFFF;
    background: #2fab4d !important;
    border-color: #2fab4d !important;
}

.btn.btn-blue {
    color: #012F73;
    border: 1.5px solid #012F73 !important;
}

.btn.btn-blue:hover, .btn.btn-blue:focus {
    color: #FFFFFF;
    background: #012F73 !important;
    border-color: #012F73 !important;
}

.boxButtons ul {
    display: block;
    font-size: 0;
    text-align: center;
    margin: 45px 0 0;
}

.boxButtons ul li {
    display: inline-block;
    margin: 1% 12px;
    vertical-align: middle;
}

.boxButtons ul li a {
    display: block;
    transition: opacity 0.4s;
}

/* -- slider -- */
.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -- content -- */
.section.header {
    padding: 10px 0;
    background: #012F73;
}

.section.header .row:first-of-type .col:last-of-type {
    width: 222px;
    flex: unset;
    margin-left: 25px;
}

.section.header .row:first-of-type .col-6 {
    width: calc(100% - 490px);
    margin: 0;
    padding: 0 50px;
}

.section.header .row:last-of-type .col:last-of-type {
    width: calc(100% - 181px);
    flex: unset;
    vertical-align: middle;
}

.section.header .row:first-of-type,
.section.header .row:last-of-type{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.section.header .row:first-of-type .col:first-of-type{
    flex: unset;
    width: 140px;
}

.section.header .row:last-of-type .col:first-of-type{
    flex: unset;
    width: 140px;
}

.section.header .brand {
    display: block;
    width: 99px;
    margin: 0 0 16px;
    transition: opacity 0.4s;
    height: auto;
}

.section.header .brand:hover, .section.header .brand:focus {
    opacity: 0.7;
}

.section.header .brand:before {
    display: none;
}

.section.header .brand img {
    display: block;
    width: 100%;
}

.section.header form {
    padding: 10px 0 0;
}

.section.header form fieldset {
    border-radius: 16px;
    border: 1px solid #516B90;
    padding: 6px;
    width: 100%;
}

.section.header form fieldset select {
    background: none;
    color: #FFFFFF;
    border-radius: 8px;
    color: #516B90;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    background: #EBF3FF;
    padding: 4px;
    margin: 0 5px 0 0;
}

.section.header form fieldset input[type="text"] {
    display: inline-block;
    color: #9CAEC9;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    background: none;
    border: 0;
    border-left: 1px solid;
    border-radius: unset;
    padding: 0 9px;
    width: calc(100% - 141px);
}

.section.header form fieldset input[type="text"]::placeholder {
    color: #9CAEC9;
}

.section.header form fieldset button {
    display: inline-block;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.section.header ul {
    margin: 10px 0 0;
}

.section.header ul li {
    display: inline;
}

.section.header ul li.notify {
    margin: 0 15px 0 0;
    display: inline-block;
    vertical-align: middle;
}

.section.header ul li.notify a {
    display: inline-block;
}

.section.header ul li.notify a img {
    display: block;
}

.section.header ul li.notify a span {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: -3px;
    right: -5px;
    z-index: 1;
    border-radius: 50%;
    background: #3EBD5D;
    color: #FDFDFF;
    line-height: 14px;
    font-size: 10px;
    text-align: center;
}

.section.header ul li.infos {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    padding: 4px 0 10px;
}

.section.header ul li.infos img {
    display: inline-block;
    margin: 0 8px 0 0;
}

.section.header ul li.infos strong {
    color: #FDFDFF;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
}

.section.header ul li.infos img:last-of-type {
    margin: 0 0 0 8px;
}

.section.header ul li.infos ul {
    display: none;
    position: absolute;
    top: 100%;
    margin: 0;
    right: 0;
    z-index: 1;
    border-radius: 12px;
    background: #F9FAFF;
    box-shadow: 0px 3px 10.5px 0px rgba(1, 47, 115, 0.08);
    width: 205px;
    padding: 5px;
}

.section.header ul li.infos:hover ul, .section.header ul li.infos:focus ul {
    display: block;
}

.section.header ul li.infos ul li {
    width: 100%;
    padding: 7px;
    display: block;
}

.section.header ul li.infos ul li a {
    display: block;
    color: #012F73;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.section.header ul li.infos ul li a img {
    margin: 0 5px 0 !important;
}

.section.header ul li.infos ul li a strong {
    display: inline-block;
    color: #012F73;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.section.header .location {
    display: block;
}

@media only screen and (max-width: 765px) {
    .section.header .location {
        display: none;
    }
}

.section.header .location a {
    border-radius: 8px;
    border: 1px solid #516B90;
    color: #FDFDFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 9px;
    display: inline-block;
    vertical-align: middle;
    transition: background 0.4s, border 0.4s;
}

.section.header .location a:before {
    display: none;
}

.section.header .location a img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 0 0;
}

.section.header .location a strong {
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}

.section.header .location a:hover, .section.header .location a:focus {
    background: #8595af;
    border-color: #8595af;
}

.section.header .menu {
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    flex-direction: row;
    height: 100%;
}

.section.header .menu ul {
    margin: 0;
    vertical-align: middle;
    display: flex;
    align-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.section.header .menu ul:first-child {
    width: calc(100% - 290px);
    /* padding: 0 50px; */
}

.section.header .menu ul:last-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.section.header .menu ul:last-child li:last-child{
    padding: 8px 20px;
    border-radius: 5px; 
    background-color: #2fab4d;
    cursor: pointer;
}
.section.header .menu ul li {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}

.section.header .menu ul li a {
    display: table-footer-group;
    color: #FDFDFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.section.header .btnMenu {
    color: #FFFFFF;
    font-size: 30px;
    vertical-align: middle;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: color 0.4s;
    display: none;
}

.section.header .btnMenu:hover, .section.header .btnMenu:focus {
    color: #adb5bd;
}

.section.header .btnMenu:before {
    display: none;
}

.section.header .btnMenu i {
    pointer-events: none;
}

.section.footer {
    display: block;
    position: relative;
    background: url('../img/bg-footer.jpg') no-repeat bottom center / cover;
    padding: 64px 0;
    z-index: 1;
}

.section.footer .container-xxl {
    position: relative;
    z-index: 2;
}

.section.footer:before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(9 42 127 / 87%) -21.89%, rgba(13, 56, 116, 0.52) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.section.footer .col-4 .brand {
    display: inline-block;
    max-height: 80px;
    transition: opacity 0.4s;
}

.section.footer .col-4 .brand img {
    display: inline-block;
    width: 100%;
    height: auto;
    max-height: 80px;
    vertical-align: middle;
}

.section.footer .col-4 .brand:before {
    display: none;
}

.section.footer .col-4 .brand:hover, .section.footer .col-4 .brand:focus {
    opacity: 0.7;
}

.section.footer .col-4 p {
    color: #F9FAFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    padding: 30px 0;
}

.section.footer .col-4 .socialIcons {
    font-size: 0;
}

.section.footer .col-4 .socialIcons li {
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align: middle;
}

.section.footer .col-4 .socialIcons li a {
    display: block;
    transition: opacity 0.4s;
}

.section.footer .col-4 .socialIcons li a :hover, .section.footer .col-4 .socialIcons li a :focus {
    opacity: 0.7;
}

.section.footer .col-4 .socialIcons li a:before {
    display: none;
}

.section.footer .col-4 .socialIcons li a img {
    display: block;
    transition: opacity 0.4s;
}

.section.footer .col-8 {
    vertical-align: top;
}

.section.footer .col-8 ul {
    width: 23%;
    margin: 0 1% 0 0;
    display: inline-block;
    vertical-align: top;
}

.section.footer .col-8 ul:last-of-type {
    margin: 0;
    width: 24%;
}

.section.footer .col-8 ul li {
    margin: 0 0 15px;
}

.section.footer .col-8 ul li a {
    color: #F9FAFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.section.footer .row:last-of-type {
    margin: 45px 0 0;
    padding: 45px 0 0;
    border-top: 1px solid #5C779F;
}

.section.footer .row:last-of-type ul {
    vertical-align: middle;
    font-size: 0;
}

.section.footer .row:last-of-type ul li {
    display: inline-block;
    margin: 15px 15px 0;
    vertical-align: middle;
}

.section.footer .row:last-of-type ul li a {
    transition: opacity 0.4s;
    display: block;
}

.section.footer .row:last-of-type ul li a:hover, .section.footer .row:last-of-type ul li a:focus {
    opacity: 0.7;
}

.section.footer .row:last-of-type ul li a:before {
    display: none;
}

.section.footer .row:last-of-type ul li a img {
    display: block;
    transition: opacity 0.4s;
}

.section.footer .row:last-of-type ul li p {
    color: #F9FAFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.section.contentList {
    padding: 32px 0;
}

.section.contentList .col h3 {
    color: #012F73;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%
}

.section.contentList .row .col .row {
    margin: 24px 0 0;
    border-radius: 12px;
    border-left: 8px solid #cdcdcd;
    background: #F9FAFF;
    padding: 32px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.section.contentList .row .col .row.linePending {
    border-left: 8px solid #F8EA67;
}

.section.contentList .row .col .row.lineProgress {
    border-left: 8px solid #4E32EE;
}

.section.contentList .row .col .row.lineFinished {
    border-left: 8px solid #60A95E;
}

.section.contentList .row .col .row .col {
    display: flex;
    align-content: stretch;
    vertical-align: middle;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.section.contentList .row .col .row .col:first-of-type {
    justify-content: flex-start;
}

.section.contentList .row .col .row .col:nth-child(3) p strong {
    margin: 0 0 8px;
}

.section.contentList .row .col .row .col:nth-child(3) p {
    width: 110px;
}

.section.contentList .row .col .row .col:last-child {
    display: block;
    width: 50px;
    flex: unset;
}

.section.contentList .row .col .row .col:last-child a {
    border-radius: 8px;
    background: #EBF3FF;
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    transition: background 0.4s;
}

.section.contentList .row .col .row .col:last-child a:hover, .section.contentList .row .col .row .col:last-child a:focus {
    background: #d8e1ef;
}

.section.contentList .row .col .row .col:last-child a img {
    margin: 0;
}

.section.contentList .row .col .row .col p {
    color: #516B90;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    vertical-align: middle;
    display: block;
}

.section.contentList .row .col .row .col p strong {
    color: #012F73;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    display: block;
}

.section.contentList .row .col .row .col img {
    display: inline-block;
    margin: 0 20px 0 0;
}

.section.contentList .row .col .row .col p img {
    height: auto;
    margin: -2px 3px 0 0;
    vertical-align: middle;
}

.section.contentList .row .col .row .col:last-child img {
    display: inline-block;
    margin: 0 5px 0 0;
    height: auto;
}

.section.contentList .row .col .row .col p em {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    padding: 2px 8px;
    border-radius: 4px;
}

.section.contentList .row .col .row .col p em.statusPending {
    color: #EECE00;
    background: #FBF9F0;
}

.section.contentList .row .col .row .col p em.statusProgress {
    color: #4E32EE;
    background: #EBE7FD;
}

.section.contentList .row .col .row .col p em.statusFinished {
    color: #60A95E;
    background: #EEF7EE;
}

.section.contentList .row .col .row .col p em.statusNone {
    color: #E54243;
    background: #FCE9E9;
}

.amountPages {
    float: left;
    color: #516B90;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 30px 0 0;
    height: 32px;
}

.pagination {
    vertical-align: middle;
    float: right;
    margin: 24px 0 0;
}

.pagination li {
    vertical-align: middle;
    display: inline-block;
    margin: 6px;
}

.pagination li a {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 8px;
    background: #F9FAFF;
    color: #516B90;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    transition: color 0.4s, background 0.4s;
}

.pagination li a.active, .pagination li a:hover, .pagination li a:focus {
    color: #F9FAFF;
    background: #012F73;
}

.pagination li a img {
    display: inline-block;
    vertical-align: middle;
}

.section.contentCat .col {
    display: flex;
    margin: 10px 0 0;
    padding: 48px 84px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    background: #FDFDFF;
}

.section.contentCat .col h2 {
    color: #012F73;
    text-align: center;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.section.contentCat .col p {
    color: #012F73;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.section.contentGallery {
    padding: 80px 0 0;
}

.section.contentGallery .col h3 {
    color: #012F73;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 0 0 48px;
}

.section.contentGallery .swiper {
    border-radius: 8px;
    background: #FDFDFF;
    padding: 0 56px;
    height: 124px;
}

.section.contentGallery .swiper .swiper-button-prev, .section.contentGallery .swiper .swiper-button-next {
    background: #ffffff;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    width: 55px;
}

.section.contentGallery .swiper .swiper-button-prev {
    left: 0;
}

.section.contentGallery .swiper .swiper-button-next {
    right: 0;
}

.section.contentGallery .swiper .swiper-button-prev:after, .section.contentGallery .swiper .swiper-button-next:after {
    display: none;
}

.section.contentGallery .swiper .swiper-slide a {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.section.contentGallery .swiper .swiper-slide a:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #012F73;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 5;
    transition: bottom 0.4s;
}

.section.contentGallery .swiper .swiper-slide a:hover:before, .section.contentGallery .swiper .swiper-slide a:focus:before {
    bottom: 0;
}

.section.contentGallery .swiper .swiper-slide a img {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: 69%;
}

.section.contentGallery .swiper .swiper-slide a strong {
    color: #012F73;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    display: inline-block;
    vertical-align: middle;
}

.section.contentBanner {
    margin: 80px 0 80px;
}

.section.contentBanner .row {
    border-radius: 8px;
    padding: 24px;
    background: linear-gradient(270deg, #D9E1EC, #F1F5FB);
}

.section.contentBanner .col {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 24px;
}

.section.contentBanner .col h4 {
    color: #012F73;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.section.contentBanner .col p {
    color: #012F73;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.section.productList .col h3 {
    color: #012F73;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.section.productList .swiper .swiper-slide a {
    display: block;
    padding: 24px 0;
    border-radius: 8px;
    background: #FDFDFF;
    transition: box-shadow 0.4s;
}

.section.productList .swiper .swiper-slide a:hover, .section.productList .swiper .swiper-slide a:focus {
    box-shadow: inset 0 0 0px 2px #012F73;
}

.section.productList .swiper .swiper-slide a img {
    display: block;
    width: calc(100% - 6px);
    margin: 0 auto 10px;
}

.section.productList .swiper .swiper-slide a p {
    text-align: left;
    padding: 0 20px;
}

.section.productList .swiper .swiper-slide a p em {
    color: #9CAEC9;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    display: block;
}

.section.productList .swiper .swiper-slide a p strong {
    color: #012F73;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    display: block;
    padding: 16px 0;
}

.section.productList .swiper .swiper-slide a .rate {
    padding: 0 20px;
    color: #9CAEC9;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.section.productList .swiper .swiper-slide a .rate span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.section.productList .swiper .swiper-slide a .rate span img {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin: 0;
}

.section.productList .swiper .swiper-slide a .rate em {
    display: inline-block;
    vertical-align: middle;
    color: #9CAEC9;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section.productsOthers {
    padding: 80px 0 0;
}

.section.productsOthers .row {
    gap: 48px;
}

.section.productsOthers .row:last-child .col {
    border-radius: 8px;
    background: linear-gradient(270deg, #FCFDFF 10.63%, #FFF 99.16%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
}

.section.productsOthers .col h3 {
    color: #012F73;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 0 0 48px;
}

.section.productsOthers .col p {
    color: #012F73;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.section.productsOthers .col p strong {
    color: #012F73;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    display: block;
    margin: 0 0 24px;
}

.section.productsOthers .col p a {
    color: #3EBD5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    display: block;
    margin: 24px 0 0;
    text-align: left;
    padding: 0 0 4px;
    text-decoration: none;
    vertical-align: middle;
    width: 150px;
}

.section.productsOthers .col p a:before {
    background: #3EBD5D;
}

.section.productsOthers .col p a svg {
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    margin: 0 0 0 5px;
}

.section.productsOthers .col img {
    display: inline-block;
    width: 47%;
    margin: 0 0 0 1%;
}

.section.productListGallery {
    padding: 0 0 80px;
}

.section.productListGallery h3 {
    color: #012F73;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 0 0 48px;
}

.section.productListGallery .swiper .swiper-slide a {
    display: block;
}

.section.productListGallery .swiper .swiper-slide a img {
    display: block;
    width: 100%;
    transition: opacity 0.4s;
}

.section.productListGallery .swiper .swiper-slide a:hover img, .section.productListGallery .swiper .swiper-slide a:focus img {
    opacity: 0.75;
}

.section.userData {
    padding: 10px 0 32px;
}

.section.userData .row.btnSubmit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    padding: 24px 0;
}

.section.userData .row.btnSubmit .col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

.section.userData .col label, .section.userData .col-4 label, .section.userData .col-6 label {
    display: block;
    width: 100%;
    margin: 0 0 15px;
}

.section.userData .col label em, .section.userData .col-4 label em, .section.userData .col-6 label em {
    color: #000F25;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 8px;
    display: block;
}

.section.userData .col label input, .section.userData .col-4 label input, .section.userData .col-6 label input, .section.userData .col label select, .section.userData .col-4 label select, .section.userData .col-6 label select {
    color: #516B90;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    border-radius: 8px;
    border: 1px solid #C7DBFA;
    background: #F9FAFF;
    padding: 12px;
}

.section.userData h3 {
    color: #012F73;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 30px 0 16px;
}

.defaultModal .modal-content {
    border-radius: 12px;
    background: #F9FAFF;
    padding: 32px;
}

.defaultModal .modal-header {
    justify-content: center;
    border: 0;
    padding: 0;
}

.defaultModal .modal-header .modal-title {
    color: #012F73;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.defaultModal .modal-body {
    padding: 0;
    border: 0;
}

.defaultModal .modal-body p {
    color: #012F73;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    padding: 32px 0;
}

.defaultModal .modal-body .surveyOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.defaultModal .modal-body .surveyOptions li a {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10px;
    transition: background 0.4s, border 0.4s;
    border-radius: 6px;
    border: 1px solid #f9faff;
    width: 140px;
}

.defaultModal .modal-body .surveyOptions li a:hover, .defaultModal .modal-body .surveyOptions li a:focus {
    background: #f2f3fb;
    border-color: #012f73;
}

.defaultModal .modal-body .surveyOptions li a img {
    display: block;
    margin: 0 auto 10px;
}

.defaultModal .modal-body .surveyOptions li a strong {
    color: #012F73;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    display: block;
    height: 38px;
    overflow: hidden;
}

.defaultModal .modal-body .surveyOptions li a em {
    display: flex;
    width: 28px;
    height: 28px;
    padding: 8px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: #F2F3FB;
    color: #012F73;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    align-content: center;
    flex-wrap: nowrap;
}

.defaultModal .modal-footer {
    padding: 20px 0 0;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.defaultModal .modal-footer .btn.btn-blue, .defaultModal .modal-footer .btn.btn-success {
    padding: 18px;
    margin: 5px;
    line-height: 0;
}

.section.contentMessage {
    padding: 32px 0;
}

.section.contentMessage .boxHead .col {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.section.contentMessage .boxHead .user {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.section.contentMessage .boxHead .user p {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4px;
}

.section.contentMessage .boxHead .user p strong {
    color: #012F73;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    position: relative;
    width: 90%;
}

.section.contentMessage .boxHead .user p strong:before {
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    right: -10px;
    top: calc(50% - (8px / 2));
    border-radius: 50%;
}

.section.contentMessage .boxHead .user p strong.statusOnline:before {
    background: #3EBD5D;
}

.section.contentMessage .boxHead .user p strong.statusOffline:before {
    background: #BD3F3F;
}

.section.contentMessage .boxHead .user p span {
    display: flex;
    padding: 2px 8px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #012F73;
    color: #012F73;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.section.contentMessage .boxHead .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.section.contentMessage .boxMsg {
    display: flex;
    padding: 32px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 12px;
    background: #F9FAFF;
    margin: 24px 0;
}

.section.contentMessage .boxMsg .linex {
    padding: 24px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    align-content: center;
    width: 100%;
}

.section.contentMessage .boxMsg .linex .details {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.section.contentMessage .boxMsg .linex .details img {
    width: 48px;
    height: auto;
}

.section.contentMessage .boxMsg .linex .details span {
    color: #516B90;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.section.contentMessage .boxMsg .linex .message {
    display: flex;
    gap: 32px;
    flex: auto;
}

.section.contentMessage .boxMsg .linex.right .message {
    display: flex;
    justify-content: flex-end;
}

.section.contentMessage .boxMsg .linex.right .message p {
    background: #516B90;
}

.section.contentMessage .boxMsg .linex .message p {
    color: #012F73;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    padding: 12px;
    border-radius: 8px;
    background: #F2F3FB;
    position: relative;
}

.section.contentMessage .boxMsg .linex .message p:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
}

.section.contentMessage .boxMsg .linex .message p:before {
    border-top: 5px solid transparent;
    border-right: 5px solid #F2F3FB;
    border-bottom: 5px solid #F2F3FB;
    border-left: 5px solid transparent;
    left: -10px;
}

.section.contentMessage .boxMsg .linex.right .message p:before {
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #516B90;
    border-left: 5px solid #516B90;
    right: -10px;
    left: unset;
}

.section.contentMessage .boxMsg .linex.right .message p {
    color: #F9FAFF;
    border-radius: 8px 8px 0 8px;
}

.section.contentMessage .boxMsg .linex .message p {
    border-radius: 8px 8px 8px 0;
}

.section.contentMessage .boxSend form {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    background: #F9FAFF;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

.section.contentMessage .boxSend form fieldset {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

.section.contentMessage .boxSend form fieldset input {
    color: #516B90;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    width: calc(100% - 30px);
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
}

.section.contentMessage .boxSend form fieldset button {
    padding: 0;
    border: 0;
    margin: 0;
    width: auto;
    height: auto;
}

.section.contentMessage .boxSend form fieldset button img {
    display: block;
}

.section.contentListTopOrder {
    padding: 32px 0 0;
}

.section.contentListTopOrder .col h3 {
    color: #012F73;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.section.contentListTopOrder .row:last-of-type {
    display: flex;
    padding: 32px;
    align-items: center;
    gap: 24px;
    border-radius: 12px;
    background: #F9FAFF;
    margin: 32px 0;
    gap: 5px;
}

.section.contentListTopOrder .row:last-of-type .col:nth-child(1) {
    width: 150px;
    flex: 0;
}

.section.contentListTopOrder .row:last-of-type .col:nth-child(2) p {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.section.contentListTopOrder .row:last-of-type .col:nth-child(3) {
    flex: unset;
    width: 240px;
}

.section.contentListTopOrder .row:last-of-type .col p strong {
    color: #012F73;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.section.contentListTopOrder .row:last-of-type .col span {
    color: #516B90;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.section.contentListTopOrder .row:last-of-type .col em {
    color: #012F73;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.section.contentListDetails .row {
    display: flex;
    padding: 32px;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 12px;
    margin: 0;
    background: #F9FAFF;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
}

.section.contentListDetails .col p {
    color: #012F73;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    margin: 0 0 24px;
}

.section.contentListDetails .col p:last-child {
    margin: 0;
}

.section.contentListDetails .col p strong {
    color: #012F73;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    display: block;
    margin: 0 0 12px;
}

.section.contentListDetails .col p em {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    padding: 2px 8px;
    border-radius: 4px;
    color: #E54243;
    background: #FCE9E9;
}

.section.contentList.boxOrder .row {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.section.contentList.boxOrder .row .col .row .col:nth-child(2) {
    flex: unset;
    width: 307px;
}

.section.contentList.boxOrder .row .col .row .col:nth-child(3) p {
    width: 130px;
}

.section.contentList.boxOrder .row .col p strong {
    margin: 0 0 12px;
}

.section.contentList.boxOrder .row .col p a {
    font-size: 14px;
}

.section.contentList.boxOrder .row .col:last-of-type {
    width: auto !important;
}

.section.contentList.boxOrder .row .col .row .col:last-of-type a {
    width: auto;
    height: auto;
    line-height: normal;
    margin: 0 0 10px;
    border-radius: 4px;
    background: none;
    font-size: 14px;
}

.section.contentList.boxOrder .row .col .row .col:last-of-type a:last-of-type {
    margin: 0;
}
