/*
// - - - - - - - - - - - - - - - - - - -
// SOLUCOES INDUSTRIAIS - THEME v001
// - - - - - - - - - - - - - - - - - - -
// #wf-202312151332
// #wf-202312301217
// - - - - - - - - - - - - - - - - - - -
// https://wizrdfly.rf.gd
// - - - - - - - - - - - - - - - - - - -
*/
@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1190px) {
    .btn-success {
        font-size: 15px;
    }

    .title {
        font-size: 29px !important;
        line-height: 33px !important;
    }

    .section.footer .col-4 {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 0 0 50px;
        text-align: center;
    }

    .section.footer .col-8 {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .section.footer .col-8 ul:last-of-type {
        display: none;
    }
}

@media (max-width: 1000px) {
    .section.contentMessage .boxMsg {
        padding:0;
    }

    .modal.show .modal-dialog {
        width: 95% !important;
        max-width: 800px;
    }

    .defaultModal .modal-body .surveyOptions {
        display: block;
        flex: unset;
    }

    .defaultModal .modal-body .surveyOptions li {
        display: inline-block;
        width: 16%;
        text-align: center;
        margin: 1%;
        display: inline-block;
    }

    .defaultModal .modal-body .surveyOptions li a {
        width: auto;
        padding: 0;
    }
}

@media (max-width: 980px) {
    .section.header .btnMenu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        margin: 22px 0 0 27px;
    }

    .section.header .brand {
        margin: 0 0 0 130px;
    }

    .section.header .row:first-of-type .col-6 {
        position: absolute;
        left: 0;
        top: -20vh;
        width: 100%;
        background: #0b2e61;
        padding-top: 5px;
        padding-bottom: 15px;
        z-index: 1;
        transition: top 0.4s;
    }

    .section.header .row:first-of-type .col-6.active {
        top: 86px;
    }

    .section.header .row:last-of-type {
        position: absolute;
        left: 0;
        top: -80vh;
        width: 100%;
        background: #012f73;
        padding: 10px;
        z-index: 1;
        margin: 0;
        transition: top 0.4s;
    }

    .section.header .row:last-of-type.active {
        top: 160px;
    }

    .section.header .row:last-of-type .col {
        width: 100% !important;
        flex: unset;
        text-align: center;
    }

    .section.header .row:last-of-type .col .menu {
        text-align: center;
        display: contents;
        margin: 0;
        padding: 8px 0 0;
        width: 100%;
    }

    .section.header .row:last-of-type .col .menu ul {
        display: block;
        width: 100%;
        flex: unset;
    }

    .section.header .row:last-of-type .col .menu ul li {
        display: block;
        margin: 17px;
    }

    .section.contentList .row .col .row {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .section.contentList .row .col .row .col {
        width: auto;
        flex: unset;
        display: block;
    }

    .section.contentList .row .col .row .col p {
        text-align: center;
    }

    .section.contentList .row .col .row .col img {
        display: block;
        margin: 20px auto;
    }

    .section.contentList .row .col .row .col p img {
        display: inline-block;
    }

    .section.contentList .row .col .row .col:nth-child(3) p {
        width: auto;
        margin: 20px 0 0;
    }

    .section.contentList .row .col .row .col:last-child {
        width: auto;
    }

    .section.contentList .row .col:first-of-type {
        text-align: center;
    }

    .section.contentList .row .col .row {
        width: calc(32% - 10px);
        margin-left: 5px;
        margin-right: 5px;
        flex: unset;
        display: inline-block;
        padding: 25px 10px;
    }

    .section.contentList .col h3 {
        display: block;
        flex: unset;
        width: 100%;
    }

    .section.contentList .row .col .row .col:last-child a {
        margin: 20px auto 0;
        display: block;
    }

    .section.contentGallery .swiper {
        height: auto;
        padding-top: 15px;
        padding-right: 15px;
    }

    .section.contentGallery .swiper .swiper-slide a {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    }

    .section.contentGallery .swiper .swiper-slide a strong {
        margin: 10px 0 20px;
    }

    .section.contentList .row .col {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 780px) {
    .section.contentList .row .col .row {
        width: calc(49% - 10px);
    }

    .amountPages, .pagination {
        float: none;
        display: block;
    }

    .section.productsOthers .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
    }

    .section.contentBanner .row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .section.contentBanner .col img {
        width: 100%;
        margin: 30px 0 0;
    }

    .section.contentCat .col {
        padding: 30px;
    }

    .section.contentListTopOrder .row:last-of-type {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 22px;
    }

    .section.contentListTopOrder .row:last-of-type .col:nth-child(2) p, .section.contentListTopOrder .row:last-of-type .col p strong, .section.contentListTopOrder .row:last-of-type .col p span, .section.contentListTopOrder .row:last-of-type .col p {
        text-align: center;
        display: flex;
        align-items: center;
    }

    .section.contentListTopOrder .row:last-of-type .col p span {
        margin: 0 0 10px;
    }

    .section.contentListTopOrder .row:last-of-type .col p {
    }

    .section.contentListDetails .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
    }

    .section.contentListDetails .col p {
        text-align: center;
    }

    .section.userData .col-4,
    .section.userData .col-6{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width:100%;
    }

    .section.userData .col-4,
    .section.userData .col-6{
        margin:0;
        padding:0;
    }
}

@media (max-width: 575.98px) {
    .section.header .row:first-of-type .col:last-of-type {
        width:auto;
    }

    .section.header ul li.infos img {
        display: none;
    }

    .section.footer .col-8 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .section.footer .col-8 ul {
        width: 100%;
    }

    .section.footer .row:last-of-type ul li {
        text-align: center;
    }

    .section.footer .row:last-of-type ul li a {
        margin: 0 auto;
    }

    .section.contentList .row .col .row {
        width: calc(99% - 10px);
    }

    .section.productsOthers .row:last-child .col {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .section.productsOthers .col img {
        width: 100%;
        margin: 25px 0 0;
    }

    .defaultModal .modal-body .surveyOptions li a img {
        width: 75%;
        margin: 0 auto;
    }

    .defaultModal .modal-body .surveyOptions li a strong {
        font-size: 11px;
        line-height: 12px;
    }
}

@media (max-width: 435.98px) {
    .defaultModal .modal-body .surveyOptions li a strong {
        display:none;
    }

    .defaultModal .modal-footer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}
