/*
// - - - - - - - - - - - - - - - - - - -
// SOLUCOES INDUSTRIAIS - THEME v001
// - - - - - - - - - - - - - - - - - - -
// #wf-202312151332
// #wf-202312281817
// - - - - - - - - - - - - - - - - - - -
// https://wizrdfly.rf.gd
// - - - - - - - - - - - - - - - - - - -
*/
@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1190px) {
    .section.header .boxTop {
        padding: 15px 0;
    }

    .section.header .btnMenu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        margin: 26px 0 0;
    }

    .section.header .brand {
        margin: 0 auto;
        max-height: 66px;
        width: 99px;
    }

    .section.header .menu {
        position: absolute;
        top: -50vh;
        left: 0;
        z-index: 999;
        border-radius: 8px;
        background: rgb(249 250 255 / 95%);
        padding: 20px 20px;
        box-shadow: 0px 4px 25px 0px rgba(53, 84, 130, 0.10);
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        transition: top 0.4s;
        gap: 10px;
    }

    .section.header .menu.active {
        top: 96px;
    }

    .section.header .menu li {
        display: inline-block;
        margin: 5px 8px;
    }

    .section.header {
        color: #012f73;
        font-size: 15px;
        line-height: 20px;
    }

    .section.header .menu li a:before {
        background: #012f73;
    }

    .section.header .banner {
        padding: 9% 0 15%;
    }

    .section.header .action li a {
        font-size: 15px;
    }

    .btn-success {
        font-size: 15px;
    }

    .title {
        font-size: 29px !important;
        line-height: 33px !important;
    }

    .section.footer .col-4 {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 0 0 50px;
        text-align: center;
    }

    .section.footer .col-8 {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .section.footer .col-8 ul:last-of-type {
        display: none;
    }
}

@media (max-width: 1000px) {
    .section.header .banner form .row .col-9, .section.header .banner form .row .col-3 {
        width:100%;
    }

    .section.header .banner form label input[type="text"] {
        margin: 0 0 10px;
        width: 100%;
    }

    .section.header .banner form label .btn-success {
        width: auto;
        display: inline-block;
    }

    .section.advantages .col-md-4 {
        width: 100%;
        margin: 0 0 40px;
        padding: 15px;
    }

    .section.advantages .col-md-4:last-of-type {
        margin: 0;
    }

    .section.advantages .col-md-4 p {
        min-height: auto;
    }

    .section.advantages .col-md-4 p strong {
        margin: 0 0 5px;
    }

    .section.advantages .col-md-4 img {
        left: unset;
        right: 25px;
    }

    .section.advantages .col-md-4 span {
        font-size: 16px;
    }

    .section.steps, .section.plataform, .section.suppliers, .section.boxBlog, .section.boxCategory, .section.boxCases, .section.boxContact, .section.boxMenuAll, .section.boxAdverts, .section.boxBrands, .section.boxFind, .section.footer {
        padding: 45px 0;
    }

    .section.steps .col-6, .section.plataform .col-6, .section.suppliers .col-6, .section.boxContact .col-6 {
        width: 100%;
        text-align: center;
    }

    .section.plataform .col-6 ul li p, .section.suppliers .col-6 ul li p, .section.plataform .col-6 ul, .section.suppliers .col-6 ul, .section.plataform .col-6 ul li, .section.suppliers .col-6 ul li {
        text-align: center;
        justify-content: center;
    }

    .section.steps .col-6 img, .section.plataform .col-6 img, .section.suppliers .col-6 img, .section.boxContact .col-6 img {
        margin: 40px auto;
    }

    .section.steps .row, .section.plataform .row, .section.suppliers .row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
    }

    .section.plataform {
        background: #012F73;
    }

    .section.boxCategory ul li {
        width: 24%;
    }

    .section.boxMenuAll ul li {
        width: 31%;
        text-align: center;
    }

    .section.header .banner {
        padding: 50px 0 80px;
    }

    .section.boxFind .col-md-4 {
        width: 100%;
        padding: 15px;
        margin: 0 0 15px;
    }

    .section.plataform .col-6 ul li p:before, .section.suppliers .col-6 ul li p:before {
        display: none;
    }

    .section.steps .col-6 ul li {
        display: block;
        margin: 0 0 30px;
    }

    .section.steps .col-6 ul li span {
        margin: 0 auto 20px;
    }

    .section.steps .col-6 ul li p {
        display: block;
    }

    .section.steps .col-6 ul li p strong {
        display: block;
        margin: 0 0 10px;
    }

    .section.boxCases .swiper.videoPlayerGalleryThumbs iframe {
        width: 100%;
    }

    .pageBuy .section.header .row:last-of-type, .pageSeller .section.header .row:last-of-type {
        display: flex;
        flex-direction: column;
    }

    .pageSeller .section.header .col-6, .pageBuy .section.header .col-6 {
        width: 100%;
    }

    .pageSeller .section.header .col-6 img, .pageBuy .section.header .col-6 img {
        width: 100%;
        vertical-align: middle;
        border-radius: 16px;
        margin: 0 auto;
        display: block;
    }

    .section.stepsDefault .row {
        display: flex;
        padding: 0;
    }

    .section.stepsDefault .col-md-4 {
        width: 100%;
    }

    .section.stepsDefault .col-md-4 span {
        font-size: 50px;
        height: 98px;
    }

    .section.stepsDefault .col-md-4 p strong {
        font-size: 23px;
        margin: 0 0 5px;
    }

    .section.stepsDefault .col-md-4 p {
        font-size: 18px;
    }

    .section.infosDefault {
        padding: 0 0 60px;
    }

    .section.infosDefault .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .section.infosDefault .col {
        width: 100%;
        padding: 60px 0;
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .section.infosDefault .col-6 {
        width: 100%;
    }

    .section.infosDefault h3 {
        text-align: center;
    }

    .section.infosDefault h6 {
        text-align: center;
    }
}

@media (max-width: 660px) {
    .boxButtons ul li {
        margin: 25px 0;
        display: block;
    }

    .boxButtons ul li a {
        display: inline-block;
    }
}

@media (max-width: 575.98px) {
    .section.boxCategory ul li {
        width: 49%;
    }

    .section.boxMenuAll ul li {
        width: 48%;
    }

    
    .section.footer .col-8 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .section.footer .col-8 ul {
        width: 100%;
    }

    .section.footer .row:last-of-type ul li {
        text-align: center;
    }

    .section.footer .row:last-of-type ul li a {
        margin: 0 auto;
    }

    .section.infosDefault .row {
        gap: 0;
    }

    .section.infosDefault .col, .section.infosDefault .col-6 {
        padding: 30px 0;
    }

    .section.infosDefault {
        padding: 30px 0 !important;
    }

    .section.infosDefault h6 {
        font-size: 20px;
    }
}

@media (max-width: 435.98px) {
    .section.boxCategory ul li {
        width: 100%;
        margin: 0 0 12px;
    }

    .section.boxMenuAll ul li {
        width: 100%;
        margin: 0 0 20px;
    }
}
