    /* Estilização adaptada para divs, originalmente para .menu-item-home */
    ul.menu li a {
        color: #fff;
    }

    .menu-item-home {
        position: relative;
    }

    .menu-item-home>a {
        line-height: 3rem;
        color: #fff;
        padding: 0 .8rem;
        letter-spacing: 1px;
        font-size: .95rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: .5s;
    }

    .menu-item-home>a>i {
        margin-left: .5rem;
    }


    .menu-dropdown-home {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 10rem;
        transform: translateY(10px);
        opacity: 0;
        pointer-events: none;
        transition: .5s;
    }

    .dropdrop {
        margin-top: 19px;
    }

    .submenu-dropdown-home,
    .sub-submenu-dropdown-home,
    .deep-submenu-dropdown-home {
        position: absolute;
        top: 0%;
        left: 100%;
        width: 10rem;
        transform: translateY(10px);
        opacity: 0;
        pointer-events: none;
        transition: .5s;
    }


    .submenu-item-home,
    .sub-submenu-item-home,
    .deep-submenu-item-home,
    .deeper-submenu-item-home {
        position: relative;
    }

    .submenu-item-home>a,
    .sub-submenu-item-home>a,
    .deep-submenu-item-home>a,
    .deeper-submenu-item-home>a {
        display: flex;
        background-color: #fff;
        color: #0A43AE;
        padding: .5rem 1rem;
        font-size: .9rem;
        align-items: center;
        justify-content: space-between;
        transition: .3s;
    }

    .submenu-item-home:hover>a,
    .sub-submenu-item-home:hover>a,
    .deep-submenu-item-home:hover>a,
    .deeper-submenu-item-home:hover>a {
        background-color: #0A43AE !important;
        color: #fff !important;
    }

    .menu-item-home:hover>.menu-dropdown-home,
    .submenu-item-home:hover>.submenu-dropdown-home,
    .sub-submenu-item-home:hover>.sub-submenu-dropdown-home,
    .deep-submenu-item-home:hover>.deep-submenu-dropdown-home {
        transform: translate(0, 0);
        opacity: 1;
        pointer-events: auto;


    }

    .submenu-item-home>a,
    .sub-submenu-item-home>a,
    .deep-submenu-item-home>a,
    .deeper-submenu-item-home>a {
        background: #072f78 !important;
        display: flex !important;
        flex-direction: row !important;
    }

    .menu-item-home a i.fa.fa-arrow-right {
        transform:rotate(0deg);
        transition: transform 0.3s ease;
    }

    .menu-item-home:hover a i.fa.fa-arrow-right {
        transform: rotate(90deg);
        transition: transform 0.3s ease;
    }

    .menu-item-home:hover a i.fa.fa-arrow-circle-down {
        transform: rotate(-90deg);
        transition: transform 0.3s ease;
    }

    .mobOnly {
        display: none !important;
    }

    .deskOnly {
        display: block;
    }

    @media only screen and (max-width: 765px) {

        ul.menu li a {
            color: #012F73;
        }

        .submenu-dropdown-home,
        .sub-submenu-dropdown-home,
        .deep-submenu-dropdown-home {
            display: none;
            position: unset;
        }

        .menu-item-home:hover>.menu-dropdown-home,
        .submenu-item-home:hover>.submenu-dropdown-home,
        .sub-submenu-item-home:hover>.sub-submenu-dropdown-home,
        .deep-submenu-item-home:hover>.deep-submenu-dropdown-home {
            display: block;
            position: unset !important;

        }

        .dropdrop {
            margin-top: 0px;
        }

        .submenu-item-home>a,
        .sub-submenu-item-home>a,
        .deep-submenu-item-home>a,
        .deeper-submenu-item-home>a {
            background: #fff !important;
            display: flex !important;
            flex-direction: row !important;
        }

        .menu-item-home a {
            gap: 15px;
            color: #012F73;
        }

        .menu-active {
            display: block !important;
            position: absolute !important;
            opacity: 1;
            pointer-events: auto;
        }

        .mobOnly {
            display: block !important;
        }

        .deskOnly {
            display: none !important;
        }

    }