@media only screen and (max-width: 765px) {
    .login-screen {
        width: auto !important;
    }

    .login-screen form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .login-screen input:not([type="submit"]) {
        width: 100%;
        margin: auto;
        height: 35px;
    }

    .login-screen select#regiao {
        width: 100% !important;
        margin: auto;
    }

    body>section.section.header>div.modal-background2>div>div.login-screen>form>label:nth-child(11) {
        display: none;
    }
}

/* .section.header form {
    display: flex;
    align-items: start;
    flex-direction: column;
} */

.section.header form input {
    /* width: 100%; */
}

.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;

}

.modal-background2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;

}

.modal-background3 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.modal-background4 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;

}

.screen-container {
    width: 90%;
    max-width: 590px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1001;
    border-radius: 5px;
    overflow: auto;
}

.login-screen {
    width: 340px;
    margin: unset;
    padding: unset;
    max-height: 90vh;
}

.login-screen .logo-form img {
    margin: 0 auto !important;
    display: block !important;
    margin-top: 0px !important;
    width: 100px;
}

.login-screen form input[type="checkbox"] {
    width: 17px !important;
    display: inline-flex !important;
    margin: 0 0 !important;
    opacity: 0.7 !important;
}

.manterlogado {
    display: flex !important;
    align-items: center !important;
}

.login-screen a.login-external {
    width: 400px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 50px !important;
    border: 1px solid #2f5283 !important;
    margin: 7px !important;
    border-radius: 6px !important;
    background: #2f5283 !important;
    color: #fff !important;
}

.login-screen p {
    margin: 18px 0px !important;
    font-size: 14px !important;
}

.login-screen form {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.login-screen form label {
    position: relative !important;
    top: 13px !important;
    letter-spacing: 0.10em !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
    font-weight: bold !important;
    left: 5px;
    padding: 0px 5px;
    background-color: white;
}

.login-screen form span {
    margin-left: 0px !important;
    font-size: 13px !important;
    font-weight: bold !important;
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.login-screen form a {
    font-size: 12px !important;
    font-weight: bold !important;
}

input[type="submit"] {
    margin-top: 6px;
    background: #00A5F0 !important;
    border: 1px solid #00A5F0 !important;
}

.login-screen input:not([type="submit"]) {

    border: 1px solid #0000004d;

    color: #000 !important;

    padding: 0px 16px !important;

    font-weight: 100 !important;

    width: 100%;

    height: 40px;

    border-radius: 9px;
}

.login-screen hr {
    color: #939393 !important;
    height: 2px !important;
    opacity: 1 !important;
    width: 350px !important;
    margin-top: 20px !important;
}

.login-screen form a:hover {
    text-decoration: underline !important;
}

.login-screen select#regiao {
    width: 100%;
    display: block !important;
    margin: 20px 0px !important;
    height: 42px !important;
    background: #e5e5e5 !important;
    color: #000 !important;
    font-weight: bold !important;
    border: 1px solid #d0d7e1 !important;
    border-radius: 9px;
    padding: 0px 16px;
}

.bg-white {
    background: #fff !important;
    padding: 11px !important;
    height: 100vh;
}

h1.title_login {
    font-weight: bold;
    color: #073077;
    font-size: 1.3em;
    text-align: center;
}

h1.title_log {
    font-weight: bold;
    color: #073077;
    font-size: 1.3em;
    text-align: left;
}

h2.title_login {
    font-size: .9em;
    font-weight: bold;
}

input[type="submit"] {
    width: 100%;
    color: #fff;
    border-radius: 7px;
    height: 39px;
}

.login-screen form .content-remember-forgot label {
    position: unset !important;

}

input#lembrarLogin {
    height: 20px;
}

.content-remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content-remember {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.create-account p a {
    font-size: 14px !important;
}

.login-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.social-img {
    margin-top: 5px;
}

.social-img i {
    padding: 10px 20px;
    font-size: 2em !important;
}

.login-screen a i {
    color: #000;
    transition: 0.3s;
}

.login-screen a:hover i {
    color: #00a5f0;
}

.speech-bubble-container {
    width: 230px;
    text-align: center;
    background: #fff;
    padding: 5px;
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    transform: translateX(-50%);
    border-radius: 10px;
    transform: rotate(180deg);
    display: none;
}

.speech-bubble {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ddd;
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
}

.speech-bubble-text {
    transform: rotate(180deg);
}

.speech-bubble-text p {
    font-size: 14px;
}

.speech-bubble-text span {
    font-size: 14px;
    color: rgb(8 2 255);
}

button#openModalRegion {
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
}


/* botão continuar */
#closeModalRegion {
    background: #3170a7 !important;
    color: #fff !important;
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
}

#modal-exit-x {
    margin-top: 5px;
    align-self: end;
    cursor: pointer;
    transition: 0.3s;
    font-size: 22px;
    position: relative;
    left: 33em;
    z-index: 120;
}

#modal-exit-x:hover {
    transition: 0.3s;
    color: red;
}

#modal-exit-x-2 {
    margin-top: 5px;
    align-self: end;
    cursor: pointer;
    transition: 0.3s;
    font-size: 22px;
}

#modal-exit-x-2:hover {
    transition: 0.3s;
    color: red;
}

@media only screen and (max-width: 1024px) {
    #modal-exit-x {
        /* bottom: 66vh; */
        /* right: 3vh; */
    }
}

@media only screen and (max-width: 830px) {
    #modal-exit-x {
        /* bottom: 68vh !important; */
    }   
}

@media only screen and (max-width: 768px) { 
    #modal-exit-x {
        /* bottom: 84vh !important; */
    }
}

@media only screen and (max-width: 765px) {
    #modal-exit-x {
        /* bottom: 83vh; */
        /* right: 3vh; */
    }
}

.modal-background2 .title_login {
    margin: 0px;
}

.modal-background2 input[type="submit"] {
    margin: 0px;

}

.modal-background2 .logo-form .login-screen {
    margin: 10px 0px 10px 0px !important;
}

/* Estilização adaptada para divs, originalmente para .menu-item */
.menu-item {
    position: relative;
}

.menu-item>a {
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.menu-item>a>i {
    margin-left: .6rem;
}


.menu-dropdown {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdrop {
    margin-top: 19px;
}

.submenu-dropdown,
.sub-submenu-dropdown,
.deep-submenu-dropdown {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}


.submenu-item,
.sub-submenu-item,
.deep-submenu-item,
.deeper-submenu-item {
    position: relative;
}

.submenu-item>a,
.sub-submenu-item>a,
.deep-submenu-item>a,
.deeper-submenu-item>a {
    display: flex;
    background-color: #fff;
    color: #0A43AE;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.submenu-item:hover>a,
.sub-submenu-item:hover>a,
.deep-submenu-item:hover>a,
.deeper-submenu-item:hover>a {
    background-color: #0A43AE !important;
    color: #fff;
}

.menu-item:hover>.menu-dropdown,
.submenu-item:hover>.submenu-dropdown,
.sub-submenu-item:hover>.sub-submenu-dropdown,
.deep-submenu-item:hover>.deep-submenu-dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;


}

.submenu-item>a,
.sub-submenu-item>a,
.deep-submenu-item>a,
.deeper-submenu-item>a {
    background: #072f78 !important;
    display: flex !important;
    flex-direction: row !important;
}

.menu-item .fa.fa-arrow-circle-down {
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}

.menu-item:hover .fa.fa-arrow-circle-down {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

@media only screen and (max-width: 1000px) {

    .submenu-dropdown,
    .sub-submenu-dropdown,
    .deep-submenu-dropdown {
        display: none;
        position: unset;
    }

    .menu-item:hover>.menu-dropdown,
    .submenu-item:hover>.submenu-dropdown,
    .sub-submenu-item:hover>.sub-submenu-dropdown,
    .deep-submenu-item:hover>.deep-submenu-dropdown {
        display: block;
        position: unset !important;

    }

    .dropdrop {
        margin-top: 0px;
    }
}

.create-account {
    margin-top: -6px;
}


@media only screen and (max-width: 765px) {
    .login-screen p {
        text-align: center;
    }

    .login-screen form label {
        font-size: 13px !important;
    }

    .social-img {
        margin: 20px 0;
        height: 40px;
    }
}

@media only screen and (max-width: 540px) {
    #modal-exit-x {
        left: 23em;
}
}


@media only screen and (max-width: 430px) {
    #modal-exit-x {

left: 17.7em;

}
}

@media only screen and (max-width: 390px) {
    #modal-exit-x {

left: 16em;

}
}

@media only screen and (max-width: 375px) {
    #modal-exit-x {

left: 15.5em;
}
}