* {
    box-sizing: border-box;
}


:root {
    /* COLORS */
    --white: #e9e9e9;
    --blueLink: #122ac2;
    --blue: #100CE0;
    --lightblue: #008997;

    /* RADII */
    --button-radius: 0.7rem;

    /* SIZES */
    --max-width: 758px;
    --max-height: 520px;

    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


#signInMob,
#signUpMob {
    color: var(--blueLink);
    text-decoration: none;
}

.fixed__title {
    font-size: 1.35em;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}

.form__title {
    font-weight: 300;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 1.25rem;
}

.link {
    color: var(--blueLink);
    font-size: 0.9rem;
    margin: 1rem 0;
    text-decoration: none;
    text-align: left;
    font-weight: 500;
    font-family: sans-serif;
}

a.link::before {
    background: none !important;
}

.both__forms {
    background-color: var(--white);
    border-radius: var(--button-radius);
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
        0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    height: var(--max-height);
    max-width: var(--max-width);
    overflow: hidden;
    position: relative;
    right: 10px;
    width: 100%;
}

.container__form {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
}

.container--signin {
    left: 0;
    width: 50%;
    z-index: 2;
}

.both__forms.right-painel-active .container--signin {
    transform: translateX(100%);
}

.container--signup {
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}

.both__forms.right-painel-active .container--signup {
    animation: show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
}

.container--signup,
.form-step {
    left: 0;
    opacity: 0;
    width: 50%;
    /* z-index: 1; */
    position: absolute;
    top: 0;
}

.both__forms.right-painel-active .container--signin {
    display: none;
}

.both__forms.right-painel-active .container--signup {
    width: 50%;
    transform: translateX(100%);
}

.both__forms.right-painel-active .form-step {
    display: block;
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    transform: translateX(0%);
    z-index: 5;
    animation: none;
    height: 100%;
}

.form-step {
    display: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 100%;
}

.container__overlay {
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 100;
}

.both__forms.right-painel-active .container__overlay {
    transform: translateX(-100%);
}

.overlay {
    background-color: var(--lightblue);
    background: url(../img/industria.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: -100%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 200%;
}

.both__forms.right-painel-active .overlay {
    transform: translateX(50%);
}

.overlay__panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
}

.overlay--left {
    transform: translateX(-20%);
}

.both__forms.right-painel-active .overlay--left {
    transform: translateX(0);
}

.overlay--right {
    right: 0;
    transform: translateX(0);
}

.both__forms.right-painel-active .overlay--right {
    transform: translateX(20%);
}

.btn__form {
    background-color: var(--blue);
    border-radius: 10px;
    border: 1px solid var(--blue);
    color: var(--white);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    font-family: "Roboto";
}

.buttonsForm {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
    box-sizing: content-box;
    margin-top: 1.5rem;
}

.form>.btn__form {
    margin-top: 1.5rem;
}

.btn__form:active {
    transform: scale(0.95);
}

.btn__form:focus {
    outline: none;
}

.form {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    height: 100%;
    text-align: center;
}

.input {
    background-color: #fff;
    border: none;
    padding: 0.9rem 0.1rem;
    margin: 0.5rem 0;
    width: 100%;
    border-radius: 4px;
    font-family: "Roboto";
    font-size: 0.9em;
    line-height: 1px;
}

input[type="tel"]::placeholder{
    padding-left: 5px;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.signIn__mob,
.signUp__mob {
    display: none;
}


.signUpType {
    display: flex;
    font-size: .8em;
    justify-content: space-around;
    margin: 10px;
}

input[type="radio"] {
    margin-right: -8px;
}

.form-step select {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    box-sizing: border-box;
    ;
}


.form-step label {
    font-size: 0.9rem;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 275px;
    text-align: left;
}

.form-step select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 10px;
    background: url(../img/arrow-down-icon.png) no-repeat right;
    background-size: 25px;
    background-position: calc(100% - 10px) center;
    font-family: "Roboto";
}

#segType,
#secondSeg,
#thridSeg,
#terType {
    display: none;
}

.form-step select {
    padding-right: 10px;
    cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input#state-select-selectized {
    width: 100% !important;
    padding-left: 0px !important;
    height: auto;
    cursor: pointer;
}

input[type='select-multiple']::placeholder {
    position: relative;
    left: -5px;
}

.form-content {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 260px;
    padding: 5px;
}

.selects {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 5px 0 5px;
    max-height: 260px;
}


.form-step {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.form-step h2 {
    font-weight: bold;
}

.selectize-control.input.demo-default.multi {
    box-sizing: content-box;
    padding: 0;
    cursor: pointer;
}

.selectize-input.items.not-full.has-options {
    border: none;
    box-sizing: border-box;
    background: url(../img/arrow-down-icon.png) no-repeat right !important;
    background-size: 25px !important;
    background-position: calc(100% - 10px) center !important;
    cursor: pointer;
}

.selectize-control .selectize-input {
    height: auto;
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
}

.selectize-dropdown,
.selectize-dropdown-content {
    width: 100%;
}

.selectize-input {
    padding-left: 8px !important;
}

.social-img a {
    color: #fff;
    text-shadow: 1.4px 1.4px #000057;
}

.social-img a:hover {
    color: #4285F4;
    transition: 0.6s ease-in-out;
}

.form__title__login {
    margin: 15px 0;
    font-weight: bold;
    font-size: 2.3em;
}

.title_sign-up {
    font-size: .9em;
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    .form__title__login {
        font-size: 2em;
    }

    .link {
        color: var(--blueLink);
        font-size: 0.9rem;
        margin: 1.5rem 0;
        text-decoration: none;
    }
}


@media only screen and (max-width: 768px) {
    .link {
        color: var(--blueLink);
        font-size: 0.9rem;
        margin: 1.5rem 0;
        text-decoration: none;
    }

    .signUpType {
        width: 100%;
        margin: 0 auto;
    }

}



@media only screen and (max-width: 765px) {
    .body__form {
        height: 95vh;
    }

    .both__forms {
        left: 1vh;
        right: 0;
        height: 73vh;
    }

    .both__forms.right-painel-active .container--signup {
        width: 100%;
        transform: unset;
    }

    .both__forms.right-painel-active .container--signup {
        animation: show 0.6s;
        opacity: 1;
        transform: unset;
        z-index: 5;
    }

    .container__overlay {
        display: none;
    }

    .container--signin {
        width: 100%;
    }

    .fixed__title {
        font-size: 1.3em;
        text-align: center;
    }

    .form__title {
        margin-bottom: 0.5rem;
        font-size: 1.2em;
    }

    .form__title__login {
        font-size: 2em;
    }

    .form>.btn__form {
        margin-top: 0.6rem;
    }

    .btn__form {
        font-size: 0.76rem;
    }

    .signUpType {
        margin: 5px auto;
    }

    .signIn__mob,
    .signUp__mob {
        display: block;
        font-size: 1em;
        margin: 15px 0;
        color: #222;
    }

    .link {
        color: var(--blueLink);
        font-size: 0.9rem;
        margin: 1rem 0 .1rem 0;
        text-decoration: none;
    }
}

@media only screen and (max-width: 430px) {
    .both__forms {
        left: 0;
        right: 0;
        height: 63vh;
    }
}


@media only screen and (max-width: 415px) {
    .both__forms {
        height: 67vh;
    }

    .signUpType {
        margin: 10px 0;
        width: 100%;
    }

    input[type="radio"] {
        margin-right: -25px;
    }
}


@media only screen and (max-width: 390px) {
    .signUpType {
        margin: 10px -6px 10px;
        width: 283px;
    }

}

@media only screen and (max-width: 375px) {
    .both__forms {
        height: 87vh;
    }
    
    .signUpType {
        margin: 10px auto;
        width: 100%;
    }

    input[type="radio"] {
        margin-right: -15px;
    }

}

@media only screen and (max-width: 360px) {
    .signUpType {
        margin: 10px auto;
        width: 100%;
    }

    input[type="radio"] {
        margin-right: -5px;
    }
}